#-------------------------
# Temporary folder
#-------------------------
/public/imagekit/*
/public/filekit/*
/public/video/*
!/public/imagekit/.gitkeep
!/public/filekit/.gitkeep
!/public/video/.gitkeep
/jsonDB/files/*
/jsonDB/videos/*
/jsonDB/images/*
/jsonDB/links/*

!/jsonDB/files/.gitkeep
!/jsonDB/videos/.gitkeep
!/jsonDB/images/.gitkeep
!/jsonDB/links/.gitkeep


!/public/imagekit/spairum.png
/node_modules

#-------------------------
# Temporary Files
#-------------------------
package-lock.json

#-------------------------
# Environment Variables
#-------------------------
.env
.DS_Store
