#-------------------------
# Temporary folder
#-------------------------
/public/imagekit/*
/public/filekit/*
!/public/imagekit/spairum.png
/node_modules

#-------------------------
# Temporary Files
#-------------------------
package-lock.json

#-------------------------
# Environment Variables
#-------------------------
.env
